{% extends 'base.html.twig' %}

{% block title %}Log in!
{% endblock %}

{% block body %}
<style>
	html, body {
    height:100%;
}
body {
  margin: 0;
}
.container-fluid {
    height: 100%;
}

.row {
  height: 100%; 
}
.col-md-6 {
  float:left;
  
  min-height: 100%;
}
 
.right {
background-color: #1D1D1D;
}
</style>
<div class="row">
    <div class="col-md-6 left">
		<div class="container">
			<h2 class="text-center mt-4">ApiJwtAuth</h2>
			<ul>
				<li>S'inscrire <code>{{ app.request.schemeAndHttpHost ~ app.request.requestUri }}api/users</code></li>
				<li>Identifier <code>{{ app.request.schemeAndHttpHost ~ app.request.requestUri }}authentication_token</code></li>
				<li>Supprimer <code>{{ app.request.schemeAndHttpHost ~ app.request.requestUri }}api/users/{id}</code></li>
				<li>Afficher <code>{{ app.request.schemeAndHttpHost ~ app.request.requestUri }}api/users</code></li>
			</ul>
			<p>1) L'utilisateur doit s'inscrire pour utiliser l'application</p>
			<p>2) L'utilisateur doit s'identifier pour avoir une jeton qui est necessaire a chaque action de l'application</p>
			<p>3) Seul l'administrateur peut supprimer ou afficher les autres utilisateurs ("roles": ["admin"])</p>
		</div>
	</div>
    <div class="col-md-6 right">
	<h2 class="text-white text-center mt-4">CsrfToken</h2>
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-7 col-lg-5">
					<div class="login-wrap p-4 p-md-5">
						<div class="icon d-flex align-items-center justify-content-center">
							<span class="fa fa-user-o"></span>
						</div>
						<h3 class="text-center mb-4">Identification</h3>
						<form method="post">
							{% if error %}
								<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
							{% endif %}
							{% if app.user %}
								<div class="mb-3">
									vous etes deja connecter entant que
									{{ app.user.userIdentifier }},
									<a href="{{ path('app_logout') }}">Deconnecter</a>
								</div>
							{% endif %}
							<div class="form-group">
								<input type="" value="{{ last_username }}" name="email" class="form-control rounded-left" placeholder="Email" autocomplete="email" required autofocus>
							</div>
							<div class="form-group d-flex">
								<input type="password" name="password" class="form-control rounded-left" placeholder="Mots de passe" required>
							</div>
							<div class="form-group">
								<button type="submit" class="form-control btn btn-primary rounded submit px-3">Se connecter</button>
							</div>
							<div class="form-group d-md-flex">
								<div class="w-50 text-md-left">
									<a href="{{ url('app_register') }}">S'inscrire</a>
								</div>
								<div class="w-50 text-md-right">
									<a href="{{ url('app_forgot_password_request') }}">Mots de passe oublie</a>
								</div>
							</div>
							<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
						</form>
					</div>
				</div>
			</div>
		</div>
		</section>
	</div>
 </div>
{% endblock %}
